<div class="mail-table-container">
	<table class="mail-preview-table">
		<colgroup>
			<col class="null" />
			<col class="from-col" />
			<col class="header-col" />
		</colgroup>
		<tr class="row" ng-repeat="mail in mails" ng-click="openMailDetails(mail.Number)">
			<td class="cell">{{mail.From}}</td>
			<td class="cell">{{mail.Header}}</td>
		</tr>
	</table>
</div>